.selectBarWrapper{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 12px;
    flex: 0 1 25rem;
    padding: 0.75rem;
}

.filtersTitle{
    font-size: larger;
    font-weight: bold;
}